
<div class="container">
  <div class="section">
    <div class="row">
      <% @items.each do |item| %>
        <div  itemscope itemtype="http://schema.org/Product" class="col s3">
          <div class="card">
            <div itemprop="image" class="card-image">
              <%= image_tag item.photo.url %>
              <span class="card-title" itemprop="name" ><%= item.name %></span>
            </div>
            <div class="card-content">
              <p  itemprop="description"><%= item.abstract %></p>
            </div>
            <div class="card-action">
              <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <span itemprop="priceCurrency" content="BRL"></span>
                  <span
                      itemprop="price" content="<%= item.price %>"><%= item.price %>
                  </span>
                <span itemprop="availability" href="http://schema.org/InStock" />
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
