
<div class="container">
  <div class="section">
    <div class="row">
      <% @items.each do |item| %>
        <div  itemscope itemtype="http://schema.org/Product" class="col s3">
          <div class="card hoverable">
            <div itemprop="image" class="card-image">
            <% unless item.photo.blank? %>
              <%= image_tag item.photo.url, class: 'responsive-img' , alt: 'imagem' %>
            <% else %>
              <%= image_tag "sem-imagem.jpg", class: 'responsive-img' , alt: 'imagem' %>
            <% end %>
              <span class="card-title" itemprop="name" style="text-transform:uppercase;"><%= item.name %> </span>
              <a class="btn-floating halfway-fab waves-effect waves-light red pulse"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p  itemprop="description"><%= item.abstract %></p>
            </div>
            <div class="card-action">
              <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <span itemprop="priceCurrency" content="BRL"></span>
                  <span
                      itemprop="price" content="<%= item.price %>"><%= item.price %>
                  </span>
                <span itemprop="availability" href="http://schema.org/InStock" />
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
