<p id="notice"><%= notice %></p>

<div class="container row">
  <p>
    <strong>Nome:</strong>
    <%= @tag.name %>
  </p>

  <p>
    <strong>Foto:</strong>
    <%= image_tag(@tag.photo.url, class: 'materialboxed', width:"250px") if @tag.photo? %>
  </p>

  <%= link_to 'Editar', edit_tag_path(@tag), class: 'btn' %>
  <%= link_to 'Voltar', tags_path, class: 'btn' %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>
