<div class="col s7 offset-s2">
  <%= form_for [@category,@sub_category] do |form| %>
    <% if sub_category.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(sub_category.errors.count, "error") %> prohibited this sub_category from being saved:</h2>

        <ul>
        <% sub_category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="input-field">
      <%= form.text_field :name, id: :sub_category_name %>
      <%= form.label :name %>
    </div>

    <div class="input-field">
      <%= form.text_field :description, id: :sub_category_description %>
      <%= form.label :description %>
    </div>

    <div class="file-field input-field col s12">
      <div class="btn">
        <span>Foto da subcategoria</span>
        <%= form.file_field :photo_sub_category, id: :sub_category_photo_sub_category %>
        <%= form.hidden_field :photo_sub_category_cache %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" >
      </div>
    </div>

    <div class="">
       <%= image_tag(@sub_category.photo_sub_category_url) if @sub_category.photo_sub_category? %>
    </div>

    <div class="actions">
      <%= form.submit class:'btn'%>
    </div>
  <% end %>
<div>
