<p id="notice"><%= notice %></p>
<div class="container row">
  <p>
    <strong>Nome:</strong>
    <%= @sub_category.name %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= @sub_category.description %>
  </p>
  <div class="diviver"> </div>
  <p>
    <div>
       <%= image_tag(@sub_category.photo_sub_category_url, style: 'max-height:500px;', class: 'materialboxed') if @sub_category.photo_sub_category? %>
    </div>
  </p>

  <%= link_to 'Editar', edit_category_sub_category_path([@category,@sub_category]), class: 'btn' %>
  <%= link_to 'Voltar', category_sub_categories_path, class: 'btn' %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>
