<div class="col s7 offset-s2">

  <%= form_with(model: item, local: true, html: { multipart: true }) do |form| %>
    <% if item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

        <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="input-field col s3">
        <%= form.label :weight %>
        <%= form.number_field :weight, id: :item_weight, in: 1...101 %>
      </div>

      <div class="input-field col s3">
        <%= form.label :widht %>
        <%= form.number_field :widht, id: :item_widht, in: 1...101 %>
      </div>

      <div class="input-field col s3">
        <%= form.label :height %>
        <%= form.number_field :height, id: :item_height, in: 1...101 %>
      </div>

      <div class="input-field col s3">
        <%= form.label :length %>
        <%= form.number_field :length, id: :item_length, in: 1...101 %>
      </div>

      <div class="input-field col s6">
        <%= form.select :status, Item.visibility_status.each { |key, value|}, id: :item_status  %>
        <%= form.label :status %>
      </div>

      <div class="input-field col s6">
        <%= form.select :type_item, Item.types.each { |key, value|},id: :item_type_item %>
        <%= form.label :type_item %>
      </div>

      <script type="text/javascript">
      $(document).ready(function() {
        $('select').material_select();
      });
      </script>

    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">mode_edit</i>
        <%= form.text_area :description, id: :item_descriptio, class:"materialize-textarea" %>
        <%= form.label :description %>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">mode_edit</i>
        <%= form.text_area :abstract, id: :item_abstract, class:"materialize-textarea", 'data-length' => "120" %>
        <%= form.label :abstract %>
      </div>
    </div>

    <div class="row">
      <div class="file-field input-field col s12">
        <div class="btn">
          <span>Foto</span>
          <%= form.file_field :photo, id: :item_photo%>
          <%= form.hidden_field :photo_cache %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Foto Destaque">
        </div>
      </div>

      <div class="file-field input-field col s12">
        <div class="btn">
          <span>Galeria de fotos</span>
          <%= form.file_field :photo_gallery, id: :item_photo_gallery, multiple: true %>
          <%= form.hidden_field :photo_gallery_cache %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Upload de um ou mais arquivos">
        </div>
      </div>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn' %>
    </div>
  <% end %>

</div>
