
<h1 class="center-align">Produtos</h1>

  <ul class="collection">
    <% @items.each do |product| %>
      <li class="collection-item avatar">
        <%  unless product.photo.blank? %>
          <%= image_tag product.photo.url, class: 'circle', alt: 'imagem' %>
        <% end %>
        <span class="title"><%= product.name %></span>
        <p>
          <%= product.abstract %><br>
          <%= product.status %>
        </p>
        <div class="secondary-content">

          <%= link_to product  do %>
            <i class="material-icons">insert_chart</i>
          <% end %>

          <%= link_to edit_item_path(product)  do %>
            <i class="material-icons">mode_edit</i>
          <% end %>

          <%= link_to product, method: :delete, class: 'red-text', data: {confirm: "Você tem que quer excluir o produto #{product.name}?"}  do %>
            <i class="material-icons ">warning</i>
          <% end %>

        </div
      </li>
    <% end %>
  </ul>

<br>

<%= link_to  new_item_path do %>
   <i class="medium material-icons">add</i>
<% end %>
