<p id="notice"><%= notice %></p>

<p>
  <strong>Weight:</strong>
  <%= @item.weight %>
</p>

<p>
  <strong>Widht:</strong>
  <%= @item.widht %>
</p>

<p>
  <strong>Height:</strong>
  <%= @item.height %>
</p>

<p>
  <strong>Length:</strong>
  <%= @item.length %>
</p>

<p>
  <strong>Descriptio:</strong>
  <%= @item.descriptio %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @item.abstract %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @item.photo %>
</p>

<p>
  <strong>Photo gallery:</strong>
  <%= @item.photo_gallery %>
</p>

<p>
  <strong>Status:</strong>
  <%= @item.status %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
