<div class="container row">
  <h1 class="center-align">Detalhes</h1>

  <p class="flow-text">
    <strong>Comprimento:</strong>
    <%= @item.weight %>

    <strong>Largura:</strong>
    <%= @item.widht %>

    <strong>Altura:</strong>
    <%= @item.height %>

    <strong>Peso:</strong>
    <%= @item.length %>

    <strong>Preço:</strong>
    <%= @item.price %>
  </p>

  <p class="flow-text">
    <strong>Descrição do produto:</strong>
    <%= @item.description %>
  </p>

  <p class="flow-text">
    <strong>Resumo:</strong>
    <%= @item.abstract %>
  </p>

  <p class="flow-text">
    <strong>Subcategorias:</strong>
    <% @item.sub_categories.each do |sub_category| %>
      <div class="chip">
        <%= image_tag sub_category.photo_sub_category.thumb.url if sub_category.photo_sub_category? %>
        <%= sub_category.name %>
      </div>
    <% end %>
  </p>

  <p class="flow-text">
    <strong>Tags:</strong>
    <% @item.tags.each do |tag| %>
      <div class="chip">
        <%= image_tag tag.photo.thumb.url if tag.photo? %>
        <%= tag.name %>
      </div>
    <% end %>
  </p>

  <p>
    <strong>Foto principal:</strong>
    <% unless @item.photo.blank? %>
      <%= image_tag @item.photo.url, class: 'materialboxed', width:"250px", alt: 'imagem' %>
    <% else %>
      <%= image_tag "sem-imagem.jpg", class: 'materialboxed', width:"250px", alt: 'imagem' %>
    <% end %>
  </p>

    <div class="divider"></div>
    <div class="row">
      <h3 class="center-align">Galeria de fotos:</h3>
      <% @item.photo_gallery.each do  |image| %>
        <div class="col s4">
          <%= image_tag(image.url, class: 'materialboxed', width:"250px") %>
        </div>
      <% end %>
    </div>

  <p>
    <strong>Status:</strong>
    <%= @item.status %>
  </p>

  <%= link_to 'Editar', edit_item_path(@item), class: 'btn' %>
  <%= link_to 'Voltar', items_path, class: 'btn' %>

</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>
