<h1 class="center-align">Categorias</h1>
<div class="row">
  <div class="col s11 offset-s1">
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Foto</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= category.description %></td>
            <td>
              <%= image_tag category.photo_category.thumb.url  if category.photo_category? %>
            </td>
            <td>
              <%= link_to category do  %>
                <i class="material-icons">insert_chart</i>
              <% end %>
            </td>
            <td>
              <%= link_to edit_category_path(category) do  %>
                <i class="material-icons">mode_edit</i>
              <% end %>
            </td>
            <td>
              <%= link_to edit_category_path(category) do  %>
                <i class="material-icons">mode_edit</i>
              <% end %>
            </td>
            <td>
              <%= link_to category, method: :delete, data: { confirm: "Você tem certeza que deseja excluir a categoria #{category.name}?" } do  %>
                <i class="material-icons red-text">warning</i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to new_category_path do  %>
      <i class="medium material-icons">add</i>
    <% end %>

  </div>
</div>
