<p id="notice"><%= notice %></p>
<div class="container row">

  <p>
    <strong>Name:</strong>
    <%= @category.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @category.description %>
  </p>
    <div class="divider">
    </div>
  <p>
    <%= image_tag @category.photo_category.url %>
  </p>

  <%= link_to 'Editar', edit_category_path(@category), class: 'btn' %>
  <%= link_to 'Voltar', categories_path, class:'btn' %>
  <%= link_to 'Subcategorias', category_sub_categories_path(@category), class:'btn' %>

</div>
