<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Lily Ateliê">
    <meta name="keywords" content="Biscuit, Arte, Artesanto, Noivinhos">
    <meta name="Description" content="Biscuit e artes em geral você só encontra aqui.">
    <meta name="google-site-verification" content="vnruSKz8NU21jytNNXJ5hHwM1mPtES4zIQvzRHf5M4c" />
    <meta name="google" content="notranslate" />

    <meta property="og:title" content="atelielily.com.br - A melhor loja de biscuit do Brasil com os melhores preços" />
    <meta property="og:description" content="Biscuit e artes em geral você só encontra aqui." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://atelielily.com.br/liliart.png"/>
    <meta property="og:image:alt" content="atelielily.com.br - A melhor loja de biscuit do Brasil com os melhores preços." />
    <meta property="og:image" content="http://atelielily.com.br/liliart.png" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:site_name" content="atelielily.com.br" />

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "Angerly",
      "url": "http://www.atelielily.com.br",
      "sameAs": [
        "http://facebook.com/liliartfortaleza",
        "http://instagram.com/atelielily"
      ]
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "http://www.atelielily.com.br",
      "logo": "http://www.atelielily.com.br/liliart.png",
      "contactPoint": [{
        "@type": "ContactPoint",
        "telephone": "+1-401-555-1212",
        "contactType": "sales"
      }]
    }
  </script>
    <title>atelielily.com.br - A melhor loja de biscuit do Brasil com os melhores preços</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style >
     input[id="search"] {
       height: 45px !important;
       margin-top: 0px;
       border-radius: 5px;
      }
      .search-input{
        background-color: #99d8f5d6 !important ;
        height: 45px !important;
        margin-top: 10px;
        border-radius: 5px;
       }
       nav .input-field label {
           top: -1.5em;
           left: 0;
       }
     </style>
     <!-- google Icon -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
   <body>

    <!-- Inínio cabeçalho -->
    <nav class="light-blue lighten-1" role="navigation" style="min-height:400px;">
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo "></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">Javascript</a></li>
          <li><a href="mobile.html">Mobile</a></li>
        </ul>
        <!-- Menus esquerdos -->
        <div class="row hide-on-med-and-down">
          <div class="col s3">
            <ul class="left hide-on-med-and-down">
              <li><a href="/">Início</a></li>
              <li><a href="#">Categorias</a></li>
            </ul>
          </div>
          <div class="col s7">
            <form class="search-input hide-on-med-and-down">
              <div class="input-field">
                <input id="search" type="search" />
                <label for="search"><i class="material-icons">search</i></label>
              </div>
            </form>
          </div>
        <!-- Menus direitos -->
          <div class="col s2">
            <ul class="right ">
              <li>
                <% unless user_signed_in? then %>
                  <%= link_to new_user_session_path do %>
                    Entrar<i class=" material-icons right">account_circle</i>
                  <% end %>
                <% else %>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    Sair<i class=" material-icons right">account_circle</i>
                    <% end %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- Fim cabeçalho -->

    <% unless devise_controller? %>
      <!-- Inicio Banners -->
      <div class="carousel carousel-slider center" data-indicators="true">
        <div class="carousel-fixed-item center">
          <a class="btn waves-effect white grey-text darken-text-2">button</a>
        </div>
        <div class="carousel-item red white-text" href="#one!">
          <h2>First Panel</h2>
          <p class="white-text">This is your first panel</p>
        </div>false
        <div class="carousel-item amber white-text" href="#two!">
          <h2>Second Panel</h2>
          <p class="white-text">This is your second panel</p>
        </div>
        <div class="carousel-item green white-text" href="#three!">
          <h2>Third Panel</h2>
          <p class="white-text">This is your third panel</p>
        </div>
        <div class="carousel-item blue white-text" href="#four!">
          <h2>Fourth Panel</h2>
          <p class="white-text">This is your fourth panel</p>
        </div>
      </div>
      <script type="text/javascript">
        $('.carousel.carousel-slider').carousel({fullWidth: true});
      </script>
      <!-- Fim Banners -->
    <% end %>

    <script type="text/javascript">
        $(document).ready(function(){
          $(".button-collapse").sideNav();
        });
    </script>

    <%= yield %>
    <footer class="page-footer orange">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Ateliê Liliart</h5>
            <p class="grey-text text-lighten-4"></p>
          </div>
          <div class="col l6 s12 center-align">
            <h5 class="white-text">Mapa do site</h5>
            <ul>
              <% Category.for_map_site.each do |category| %>
                <%= link_to category.name, category, class: 'white-text' %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Feito por <a class="orange-text text-lighten-3" href="https://github.com/jdruk">Josafá </a>
          <a href="https://www.facebook.com/josafa.desenvolvedor" > <%= image_tag('facebook.png', class: 'large material-icons') %> </a>
          <a href="https://www.instagram.com/desenvolvedorjosafa//" > <%= image_tag('instagram.png', class: 'large material-icons') %></a>
        </div>
      </div>
    </footer>
  </body>
</html>
