<!DOCTYPE html>
<html>
  <head>
    <title>Liliart</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Let browser know website is optimized for mobile-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <style >
       input[id="search"] {
         height: 45px !important;
         margin-top: 0px;
         border-radius: 5px;
       }
       .search-input{
         background-color: #99d8f5d6 !important ;
         height: 45px !important;
         margin-top: 10px;
         border-radius: 5px;
       }
       nav .input-field label {
           top: -1.5em;
           left: 0;
       }
     </style>
  </head>

  <body>
    <!-- Inínio cabeçalho -->
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo "></a>
        <!-- Menus esquerdos -->
        <div class="row">
          <div class="col s3">
            <ul class="left hide-on-med-and-down">
              <li><a href="/">Início</a></li>
              <li><a href="#">Categorias</a></li>
            </ul>
          </div>
          <div class="col s7">
            <form class="search-input">
              <div class="input-field">
                <input id="search" type="search" />
                <label for="search"><i class="material-icons">search</i></label>
              </div>
            </form>
          </div>

        <!-- Menus direitos -->
          <div class="col s2">
            <ul class="right hide-on-med-and-down">
              <li>
                <% unless user_signed_in? then %>
                  <%= link_to new_user_session_path do %>
                    Entrar<i class=" material-icons right">account_circle</i>
                  <% end %>
                <% else %>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    Sair<i class=" material-icons right">account_circle</i>
                    <% end %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- Fim cabeçalho -->



    <script type="text/javascript">
        $(document).ready(function(){
          $(".button-collapse").sideNav();
        });
    </script>

    <%= yield %>

  </body>
</html>
